.topper-primary .topper__deck,
.topper-primary .topper__subtitle,
.topper-primary .topper__title {
  color: #0a2458;
  flex: 0 0 auto;
  max-width: 100%;
  text-align: center;
  width: 100%;
}
.justify-content-center {
  justify-content: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.container,
.container-fluid,
.container-full,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.home .module__featured-media-and-content .wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 575px) .container,
  .container-full,
  .container-sm,
  .home .module__featured-media-and-content .wrapper {
  max-width: 610px;
}
.container,
.container-full,
.home .module__featured-media-and-content .wrapper {
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 10px;
padding-right: 10px; */
  width: 100%;
}
@media (min-width: 575px) .container,
  .container-full,
  .container-sm,
  .home .module__featured-media-and-content .wrapper {
  max-width: 610px;
}
.h1news,
h1.news {
  font-family: MercurySSm-Book-Pro_Web, serif;
  font-size: 25px;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 132%;
}
.flip-card-grid__message,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.module__persongrid .module-headline,
.shared-meta span,
.shared-meta time,
fieldset legend,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h1 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.shared-meta span,
.shared-meta time {
  margin-bottom: 0;
  padding: 8px 0 0;
}
.topper .topper__date {
  margin-bottom: 15px;
}
[data-beat='3'] {
  -webkit-animation-delay: 1.05s !important;
  animation-delay: 1.05s !important;
}
@media (min-width: 480px) .shared-meta {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.shared-meta {
  display: flex;
  flex-direction: column;
}
*,
:after,
:before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
.row {
  list-style: none;
}
.topper-primary .topper__deck,
.topper-primary .topper__subtitle,
.topper-primary .topper__title {
  color: #0a2458;
  flex: 0 0 auto;
  max-width: 100%;
  text-align: center;
  width: 100%;
}

.h6,
.shared-meta span,
.shared-meta time,
h6 {
  font-family: Decimal-Medium_Web, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 132%;
  text-transform: uppercase;
}
.topper .topper__date time {
  padding-top: 0;
}
.shared-meta time {
  color: #0a2458;
}
.shared-meta span,
.shared-meta time {
  margin-bottom: 0;
  padding: 8px 0 0;
}
